/* システムロゴ */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: #fff85a;
  }
  .logo img{
    /* width: 100%; */
    max-width: 1000px;
    height: auto;
  }
  .content {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

/* 按鈕樣式 */
.btn-home {
  padding: 0;               /* 去除按鈕內邊距 */
  margin-top: 20px;
  background-color: transparent; /* 按鈕背景設為透明 */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 正方形的黃色區域 */
.square-content {
  width: 150px;                  /* 固定寬度 */
  aspect-ratio: 1 / 1;           /* 保持正方形比例 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffea65;     /* 背景設為黃色 */
  font-size: 18px;
  color: #000;                   /* 文字顏色 */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-home:hover .square-content {
  background-color: #ffd54f;     /* 懸停時改變黃色區域顏色 */
}
