/* システムロゴ */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: #fff85a;
  }
  .logo img{
    /* width: 100%; */
    max-width: 1000px;
    height: auto;
  }
  .content {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

/* 將按鈕置中的容器 */
.center-container {
  display: flex;
  flex-direction: column;          /* 垂直排列按鈕 */
  align-items: center;             /* 水平置中 */
  justify-content: center;         /* 垂直置中 */
  height: 100vh;                   /* 使容器高度為視窗高度 */
}

/* 按鈕樣式 */
.btn-home {
  padding: 0;
  margin: 10px 0;                  /* 上下間距，讓按鈕之間有間隔 */
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 正方形的黃色區域 */
.square-content {
  width: 150px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffea65;
  font-size: 18px;
  color: #000;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-home:hover .square-content {
  background-color: #ffd54f;
}
